.custom-autofill:-webkit-autofill {
  background-color: transparent !important;
}

input:internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: transparent !important;
}


.gradientB {
  background: linear-gradient(180deg, #8255A1 0%, #FF5555 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #8255A1 0%, #FF5555 100%);
  color: transparent;
}
