<!-- <div class="xl:hidden">
  <button (click)="toggleSidebar()" class="text-black2Color focus:outline-none">
    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </button>
</div> -->
<!-- [ngClass]="{'hidden': !isSidebarHidden}"  -->

<main id="sidebar" [ngClass]="{'w-72 justify-between': isSideBarOpen, 'w-20 justify-start': !isSideBarOpen}"
  class=" flex flex-col  w-72   md:z-20  h-full  dark:bg-darkBlueColor bg-textColor p-2">
  <div>
    <div class="px-2 py-5">
      <img (click)="toggleOpen()" [ngClass]="{'rotate-180': !isSideBarOpen}"
        [src]="themeService.isDarkMode  ? './assets/svgs/connectaSvg.svg' : './assets/svgs/lightconnectasvg.svg'"
        alt="Connecta Logo">
    </div>

    <div class="p-2">
      <div
        [ngClass]="{'pl-4 py-3 border-greyColor border rounded-lg dark:bg-greyColor bg-textColor': isSideBarOpen, 'pl-2 py-0 border-none': !isSideBarOpen}"
        class="flex items-center  shadow-md shadow-gray-400 dark:shadow-none">
        <img alt="team" class="w-8 h-8  object-cover object-center flex-shrink-0 rounded-full mr-4"
          src="./assets/svgs/connectaIcon.svg">
        <div class="" [class.hidden]="!isSideBarOpen">
          <h2 class="dark:text-textColor text-black2Color text-sm leading-6 font-medium">User Name</h2>
          <p class="dark:text-gray-500 text-black2Color font-normal text-xs">Free account</p>
        </div>
      </div>
    </div>
    <div class="flex-col flex-1  px-2">
      <div class="flex flex-col   dark:text-textColor  text-black2Color text-sm font-normal">
        <p class="ml-4 font-medium text-base pb-2 " [ngClass]="{'hidden': !isSideBarOpen}">To maintain history</p>
        <div [ngClass]="{'px-3 py-0': !isSideBarOpen}"
          class="flex p-3 items-center  transition-colors duration-200  cursor-pointer text-sm dark:hover:bg-greyColor hover:bg-lightText rounded-md">
          <img alt="team" class="mr-4"
            [src]="themeService.isDarkMode ? './assets/svgs/upgrade.svg' : './assets/svgs/lightupgrade.svg'">
          <p [ngClass]="{'scale-0': !isSideBarOpen}" class="font-normal text-sm ">Upgrade to Cosmo Pro </p>
        </div>
        <!-- <ng-container *ngFor="let item of allChatList">
        <div (click)="loadChat(item)"
          class="flex py-3 px-3 items-center  relative rounded-md dark:hover:bg-greyColor hover:bg-lightText cursor-pointer group">
          <img alt="team" class="mr-4 w-4 h-4 text-black2Color"
            [src]="themeService.isDarkMode ? './assets/svgs/sms.svg' : './assets/svgs/lightsms.svg'"
            alt="Connecta Logo">
          <p class="flex-1 text-ellipsis max-h-5 overflow-hidden relative">{{item.title}}</p>
        </div>
      </ng-container> -->
        <div class="py-2">
          <button (click)="startChat()"
            class="gradient-button flex p-3 items-center gap-3 transition-colors duration-200 text-white cursor-pointer text-sm rounded-md  h-11 flex-shrink-0 flex-grow w-full">
            <img alt="team" class="h-4 w-5" src="./assets/svgs/addIcon.svg"><span [class.hidden]="!isSideBarOpen">Start
              a new chat</span></button>
        </div>
      </div>

    </div>
  </div>
  <div class="border-t border-white/20 ">
    <div class="flex flex-col  py-2 dark:text-textColor text-black2Color text-sm font-normal">
      <div [ngClass]="{'pl-6': !isSideBarOpen}"
        class="flex p-3 items-center  transition-colors duration-200  cursor-pointer text-sm dark:hover:bg-greyColor hover:bg-lightText rounded-md">
        <!-- <div class="flex pl-8 pt-2 pb-6"> -->
        <img alt="team" class="mr-4"
          [src]="themeService.isDarkMode ? './assets/svgs/delete.svg' : './assets/svgs/lightdelete.svg'">
        <p [ngClass]="{'scale-0': !isSideBarOpen}" class="">Clear all conversations </p>
      </div>
      <div (click)="toogleMode.emit()"
      [ngClass]="{'pl-6': !isSideBarOpen}"
        class="flex px-3 py-1 items-center  transition-colors duration-200  cursor-pointer text-sm dark:hover:bg-greyColor hover:bg-lightText rounded-md">
        <img alt="team" class="mr-4"
          [src]="themeService.isDarkMode ? './assets/svgs/light.svg' : './assets/svgs/Llight.svg'">
        <p [ngClass]="{'scale-0': !isSideBarOpen}"> Switch {{themeService.isDarkMode? 'Light Mode': 'Dark Mode'}} </p>
      </div>

      <div
      [ngClass]="{'pl-6': !isSideBarOpen}"
        class="shadowDiv flex p-3 items-center  transition-colors duration-200  cursor-pointer text-sm dark:hover:bg-greyColor hover:bg-lightText rounded-md">
        <img alt="team" class="mr-4"
          [src]="themeService.isDarkMode ? './assets/svgs/updates.svg' : './assets/svgs/lightupdate.svg'">
        <p [ngClass]="{'scale-0': !isSideBarOpen}" class="">Uptades & FAQ </p>
      </div>
      <div (click)="logout()"
      [ngClass]="{'pl-6': !isSideBarOpen}"
        class="shadowDiv flex p-3 items-center  transition-colors duration-200  cursor-pointer text-sm dark:hover:bg-greyColor hover:bg-lightText rounded-md">
        <img alt="team" class="mr-4" src="./assets/svgs/logout.svg">
        <p [ngClass]="{'scale-0': !isSideBarOpen}" class="text-red">Log out </p>
      </div>
    </div>

  </div>

</main>
