<!-- <div class="flex h-screen">
  <app-sidebar (toogleMode)="themeService.toggleDarkMode()"></app-sidebar>
  <div class="relative flex flex-1  overflow-hidden  bg-black p-3 ">
    <div
      class="relative text-sm max-w-full  flex-1 flex-col overflow-hidden  dark:bg-darkBlueColor bg-textColor rounded-2xl  z-10 dark:z-0">
      <div class="absolute inset-0  bg-no-repeat bg-right-bottom opacity-100"
        style="background-image: url('./assets/watermark.png');"></div> -->

      <div class="w-full h-full flex items-center justify-center">
        <div
          class="dark:text-textColor  text-black2Color w-full h-full 2xl:h-[60%] flex justify-around mx-auto md:max-w-2xl lg:max-w-3xl xl:max-w-3xl 2xl:max-w-6xl  md:flex md:flex-col px-6 ">
          <div class="max-w-full">
            <h1
              class="xs:text-xs sm:text-lg md:text-2xl lg:text-2xl xl:text-4xl 2xl:text-4xl dark:text-textColor  text-black2Color  font-semibold text-center mt-7 lg:mt-2 mb-5 flex items-center justify-center">
              Hi I’m&nbsp;<span class="gradient-text font-bold">Cosmo</span> , your marketing assistant!</h1>
            <p
              class="xs:text-xs sm:text-sm md:text-md lg:text-lg xl:text-xl 2xl:text-4xl text-lg font-normal dark:text-textColor  text-black2Color flex justify-center">
              How can I help you?</p>
          </div>

          <div class="flex justify-center  text-center gap-3.5">
            <div class="flex flex-col mb-8 md:mb-auto gap-2 items-center sm:max-w-md ">
              <img alt="team" class="w-4 h-4 "
                [src]="themeService.isDarkMode ? './assets/svgs/example.svg' : './assets/svgs/lightupgrade.svg'">
              <h1 class="flex gap-3 items-center m-auto text-md font-medium md:flex-col md:gap-2 ">Examples</h1>
              <div
                class="w-auto max-w-fit px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="dark:text-textColor text-black2Color font-light text-sm">What is Connekta?</p>
              </div>
              <div
                class="w-auto max-w-fit px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="dark:text-textColor text-black2Color font-light text-sm">How can I place my order? </p>
              </div>
              <div
                class=" w-auto max-w-fit px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="  dark:text-textColor text-black2Color font-light text-sm">How can I request a demo? </p>
              </div>
            </div>
            <div class="flex flex-col mb-8 md:mb-auto gap-2 items-center sm:max-w-md ">
              <img alt="team" class="w-4 h-4"
                [src]="themeService.isDarkMode ? './assets/svgs/capabilities.svg' : './assets/svgs/lightlocation.svg'">
              <h1 class="flex gap-3 items-center m-auto text-md font-medium md:flex-col md:gap-2 ">Capabilities</h1>
              <div
                class=" w-auto max-w-fit px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="  dark:text-textColor text-black2Color font-light text-sm">Maintain chat history
                </p>
              </div>
              <div
                class=" w-auto max-w-fit px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="  dark:text-textColor text-black2Color font-light text-sm">Save uploaded files in database</p>
              </div>
            </div>
            <div class="flex flex-col mb-8 md:mb-auto gap-2 items-center sm:max-w-md ">
              <img alt="team" class="w-4 h-4"
                [src]="themeService.isDarkMode ? './assets/svgs/limitations.svg' : './assets/svgs/lighttrending.svg'">
              <h1 class="flex gap-3 items-center m-auto text-md font-medium md:flex-col md:gap-2 ">Limitations
              </h1>
              <div
                class=" w-auto max-w-fit px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="  dark:text-textColor text-black2Color font-light text-sm">Large files can take time</p>
              </div>
              <div
                class="max-w-[70%] px-1 flex items-center border-greyColor1 border border-solid px-3 rounded  dark:bg-greyColor bg-textColor ">
                <p class="  dark:text-textColor text-black2Color font-light text-sm">Make sure your internet speed is
                  good</p>
              </div>
            </div>
          </div>

          <div class="relative flex justify-center">
            <input type="text" [(ngModel)]="message" (keydown)="onKeyDown($event)"
              class=" dark:text-lightText  text-black2Color  dark:bg-grey2 bg-textColor border border-greyColor border shadow-lg rounded-lg shadow-sm py-4 pl-10 pr-14 focus:outline-none focus:ring-blue-500 focus:border-blue-500 w-[80%]"
              placeholder="Example: 'Explain quantum computing in simple terms'">
            <span class="absolute inset-y-0  top-0 right-32 justify-end flex items-center cursor-pointer">
              <img alt="team" class=" flex items-center" src="./assets/svgs/attachment.svg" (click)="fileInput.click()">
              <input type="file" #fileInput hidden (change)="onFileSelected($event)">
            </span>
            <span class="absolute inset-y-0  top-0 right-20 justify-end flex items-center">
              <button (click)="startChatInput()" class="gradient-button px-2 py-3 rounded-md">
                <img alt="team" class="pl-2 flex items-center" src="./assets/svgs/send.svg">
              </button>
            </span>
          </div>
        </div>
      </div>

    <!-- </div>
  </div>
</div> -->
