/* You can add global styles to this file, and also import other style files */
/* body{
  height: inherit;
} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Light mode
@import 'tailwindcss/defaultConfig';
@import 'tailwindcss/lightConfig';

 Dark mode
@import 'tailwindcss/defaultConfig';
@import 'tailwindcss/darkConfig'; */


